#!/bin/bash
# Name:             Office Backup Service Script
# Creator:          James Seiters
# Creation Date:    2022-04-28
# Modifier:
# Modified Date:
# Description:      Performs backups of selected servers.

##### Parameters #####

##### Script Variables #####

##### Framework Functions #####

##### Script Functions #####

##### Process Options #####

##### Main #####
